<% layout("./Layouts/boilerplate.ejs") %>

    <div class="row forMobileDesign">
        <div class="row
        col-lg-8 offset-lg-2 
        col-md-8 offset-md-2
        col-sm-8 offset-sm-2  
        d-flex justify-content-center">
            <div class="showBlogPageBlogTitle  mt-5">
                <%= findBlog.title %>
                    <div class="urnderline mb-4"></div>
            </div>


            <% if (findBlog.coverImage) { %>
                <img class="showBlogPageBlogImage" src="<%= findBlog.coverImage.url %>" alt="Blog Cover">
                <% } %>

                    <br>
                    <br>
                    <span class="showBlogPageBlogCategory">
                        <%= findBlog.category %>
                    </span>

                    <br>

                    <div class="showBlogPageBlogContent">
                        <%= findBlog.content %>
                    </div>



                    <!-- <button id="showMoreContent">Show more</button> -->

                    <b>
                        <img src="<%= findBlog.user.profilePic.url %>" alt="user profile pic!"
                            style="border-radius: 50%; height: 40px; width: 40px; object-fit: cover;">
                        <a href="/user/<%= findBlog.user._id %>" style="text-decoration: none;">
                            <%= findBlog.user.username %>
                        </a>
                    </b>
                    <br>


                    <div id="likes-count">
                        <p>

                        <form action="/findBlog/<%= findBlog._id %>/like" method="POST">
                            <button class="btn">
                                <i class="fa-solid fa-thumbs-up"></i>&nbsp;&nbsp;<%= findBlog.likes.length %>
                            </button>
                        </form>

                        <button class="btn">
                            <a href="#comments" style="text-decoration: none; color: black;"><i
                                    class="fa-solid fa-comment-dots"></i>
                                &nbsp;
                                <%= findBlog.comments.length %>
                            </a>
                        </button>
                        </p>
                    </div>

                    <br>

                    <br>
                    <b>Created At : </b>
                    <i>
                        <%= findBlog.createdAt %>
                    </i>

                    <br>
                    <br>
                    <a href="/allBlogs" class="back-link">← Back to all blogs</a>

                    <br>
                    <br>
                    <br>

                    <form action="/findBlog/<%= findBlog._id %>/comment" method="POST" class="row">
                        <label for="comments">Leave comment</label>
                        <input type="text" name="comments" id="comments" class="form-control mb-3 mt-3"
                            placeholder="Write comment !">
                        <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-share"></i></button>
                    </form>

                    <br>
                    <br>
                    <h5 class="mt-5 mb-2">Comments</h5>
                    <ul class="list-unstyled">
                        <% for (let comment of findBlog.comments) { %>
                            <li class="mb-2">
                                <strong>
                                    <a href="/user/<%= comment.from._id %>" style="text-decoration: none;">
                                        <img src="<%= comment.from.profilePic.url %>" alt="profile"
                                            style="height: 30px; width: 30px; border-radius: 50%; object-fit: cover;">
                                        <%= comment.from.username %>
                                    </a>
                                </strong>: <%= comment.text %>
                            </li>
                            <br>
                            <% } %>
                    </ul>

                    <% if(currentUser && currentUser._id.equals(findBlog.user._id)) {%>
                        <br>
                        <br>
                        <form action="/deleteBlog/<%= findBlog._id %>/?_method=DELETE" method="POST"><button
                                class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                        <br>
                        <br>
                        <form action="/editBlog/<%= findBlog._id %>" method="GET"><button
                                class="btn btn-outline-warning btn-sm">Edit</button>
                        </form>
                        <% } %>


        </div>




    </div>

    <div class="row forMobileDesign">
        <h2 class="mb-4 mt-4 text-center">Similar Blogs</h2>

        <div class="row
        col-lg-8 offset-lg-2 
        col-md-8 offset-md-2
        col-sm-8 offset-sm-2  
        d-flex justify-content-center">

            <% allBlogs.forEach(blog=> { %>
                <a href="/showBlog/<%= blog._id %>" class="col-lg-4 
                    col-md-6 
                    col-sm-12  
                    d-flex justify-content-center" style="text-decoration:none;">
                    <div class="blog-card">
                        <img src="<%= blog.coverImage.url %>" alt="Cover Image" class="blog-image">

                        <div class="blog-content">
                            <span class="category-badge">
                                <%= blog.category %>
                            </span>
                            <h4 class="mt-2 text-dark">
                                <%= blog.title %>
                            </h4>
                            <p class="text-muted">
                                <%= blog.content.length> 100 ? blog.content.substring(0, 100) + '...' :
                                    blog.content %>
                            </p>

                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div class="meta">
                                    <i class="bi bi-calendar-event"></i>
                                    <%= blog.createdAt.toDateString() %>
                                </div>
                                <div class="meta">
                                    <i class="fa-regular fa-thumbs-up">&nbsp;&nbsp;<%= blog.likes.length %></i>
                                    · <i class="fa-regular fa-comment-dots">&nbsp;&nbsp;<%= blog.comments.length %>
                                    </i>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <% }) %>
        </div>
    </div>